.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    flex-wrap: wrap;
    gap: 8px 0;
}

.header__name {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 32px;
}

.header__categories {
    display: flex;
    align-items: center;
}

.header__categories-element {
    a {
        color: #000
    }

    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 16px;
    padding-left: 16px;
}

.header__search {
    border: #000 solid 2px;
    border-radius: 8px;
    width: 320px;
    height: 40px;
    font-size: 16px;
    font-family: 'OpenSans';
    font-weight: 400;
    padding-left: 12px;
    background: url(../img/search.png) no-repeat center right 12px;
}

.header__login-button {
    color: #fff;
    padding: 10px 17px;
    background-color: #000;
}

.header__trash-button {
    border: #000 solid 2px;
    color: #000;
    padding: 8px 17px;
}

.button {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover {
    background-color: #535353;
}

.hero__content {
    flex-basis: 50%;
}

.hero__container {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.hero__text {
    display: inline-block;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    width: 514px;
    height: 144px;
}

.hero__subtext {
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    width: 475px;
    height: 88px;
}

.hero__button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    font-family: 'OpenSans';
    margin-top: 16px;
}

.hero__image {
    flex-basis: 50%;
}

.goods__title {
    font-family: 'OpenSans';
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
}