body {
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    flex-wrap: wrap;
    gap: 8px 0;
    margin-bottom: 26px;
}

.header__name {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 32px;
}

.header__categories {
    display: flex;
    align-items: center;
}

.header__category {
    color: #000;
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 16px;
    padding-left: 16px;
}

.header__search {
    border: #000 solid 2px;
    border-radius: 8px;
    width: 320px;
    height: 40px;
    font-size: 16px;
    font-family: 'OpenSans';
    font-weight: 400;
    padding-left: 12px;
    background: url(../img/search.png) no-repeat center right 12px;
}

.button {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
}

.button_red {
    background-color: #DC143C;
    color: #fff;
}

.button_red:hover {
    background-color: #dc143c9c;
}

.button_border {
    border: #000 solid 2px;
    color: #000;
    padding: 6px 14px;
}

.hero__content {
    flex-basis: 50%;
}

.button_border:hover {
    border: #868686 solid 2px;
    color: #868686;
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__text {
    display: inline-block;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 40px;
    width: 514px;
    height: 144px;
}

.hero__subtext {
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 18px;
    width: 475px;
    height: 88px;
}

.goods__container {
    margin-bottom: 64px;
}

.goods__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.goods__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goods__title {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 36px;
}

.good__info {
    margin: 8px;
    color: #000;
}

.good__name {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 20px;
    width: 272px;
    margin-bottom: 8px;
}

.good__prices {
    display: flex;
    align-items: center;
    gap: 8px;
}

.good__price {
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 24px;
}

.good__previous-price {
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}

.faq__container {
    margin-bottom: 64px;
}

.faq__title {
    width: 1224px;
    color: #000;
    font-family: "OpenSans";
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.faq__item {
    margin-bottom: 16px;
}

.faq__question {
    color: #000;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border: #000 solid 2px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.faq__answer {
    color: #000;
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    border: #000 solid 2px;
    border-radius: 8px;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__name {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 7px;
}

.footer__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

.footer__category {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer__category:last-child {
    margin-bottom: 16px;
}

.footer__additionaly-item {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer__additionaly-item:last-child {
    font-size: 14px;
    width: 288px;
}

.footer__contacts-item {
    font-size: 16px;
    margin-bottom: 10px;
}